@using RestaurantManagement.service.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RestaurantModel


<div class="mb-auto">
    <div class="shadow p-3 my-auto">


        <div class="text-center mb-4">
            <h4 class="fst-italic">Restaurant Details</h4>
        </div> 

        <div class="row">
            <div class="col-sm-6">
                <img src="/images/@Model.ImagePath" class="img-thumbnail" style="width:100%">
             </div>
            <div class="col-sm-6">
            <p><span class="fw-bold">Nom :</span> @Model.Nom</p>
            <hr />
            <p><span class="fw-bold">Adresse :</span>@Model.Adresse</p>
            <hr />

            <p><span class="fw-bold">Cuisine :</span>@Model.Cuisine</p>
            <hr />

            <p><span class="fw-bold">Note :</span>@Model.Note</p>
        </div>

        </div>
        

            <!-- Submit button -->
            <div class="d-flex justify-content-end">
                <a data-mdb-ripple-init asp-action="Index" class="btn btn-secondary btn-block mb-4"><i class="bi bi-arrow-left-short"></i></a>
            </div>
    
    </div>
</div>
